<footer class="footer bg-dark py-3 mt-auto"> <!--py mens all around padding and mt-auto will
    automatically create space-->
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2025</span>
    </div>
</footer>